@charset "utf-8";
/* CSS Document */
body{
 padding:60px; 
}
alert{
	position:static;
	top:100px;
}

/* Navbar */
.nav-form{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	min-width:250px;
}
.nav-form .control-group{
	margin-bottom: 0px;
}

/* Header */
header{
	margin:80px 0;
	text-align:center;
}
header h1{
	font-size:100px;
	line-height:1;
}
header p{
	font-size:24px;
	line-height:1.25;
}

/* footer */
footer{
	max-width:450px;
	border-radius:5px;
	margin-right:auto;
	margin-left:auto;
	margin-top:100px;
	margin-bottom:20px;
	padding:33px;
	text-align:center;
	background-color:#333;
	color:#DDD;
}
footer a{
	color: rgb(255, 255, 255);
	text-decoration:none;
}

footer a:hover{
	color: rgb(255, 255, 255);
	text-decoration:none;
}